@import "./variables";

.main-banner-area {
	width: 100%;
	height: 520px;
	background-image: url("../assets/images/banner_background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 4px;
	overflow: hidden;
	.banner-main-container {
		width: 70%;
		float: right;
		display: flex;
		padding-top: 80px;
		justify-content: center;
		.banner-left-contents {
			padding-left: 100px;
			h1 {
				color: #7599b2;
				font-family: "Montserrat", sans-serif;
				font-size: 48px;
				font-weight: 500;
				text-transform: uppercase;
				line-height: 1.166;
				letter-spacing: 0.038em;
			}
			p {
				margin-top: 80px;
				font-size: 28px;
				color: red;
				span {
					color: #7e8285;
					margin-right: 13px;
					position: relative;
					&::before {
						position: absolute;
						content: "";
						width: 62px;
						top: 14px;
						height: 2px;
						background-color: #7e8285;
					}
				}
			}
			h3 {
				color: #000;
				margin-top: 20px;
				font-size: 20px;
				font-weight: 400;
				margin-bottom: 25px;
			}
			a {
				text-transform: capitalize;
				text-decoration: none;
				color: #fff;
				line-height: 48px;
				font-size: 18px;
				font-weight: 400;
				padding: 15px 35px;
				background-color: $secondColor;
				border-radius: 5px;
				&:hover {
					background-color: darken($secondColor, 7);
				}
			}
		}
		.banner-product-image {
			transform: translateX(-85px);
		}
	}
}

@media only screen and (max-width: 1199px) {
	.main-banner-area {
		width: 100%;
		height: 520px;
		.banner-main-container {
			width: 100%;
			min-width: 500px;
			.banner-left-contents {
				padding-left: 40.5rem;
			}
			.banner-product-image {
				padding-right: 4rem;
				transform: translateX(-195px);
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.main-banner-area {
		width: 100%;
		height: 520px;
		.banner-main-container {
			width: 100%;
			min-width: 500px;
			.banner-left-contents {
				padding-left: 16.2rem;
			}
			.banner-product-image {
				padding-right: 4rem;
				transform: translateX(-165px);
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.main-banner-area {
		width: 100%;
		height: 520px;
		.banner-main-container {
			width: 100%;
			min-width: 500px;
			z-index: 9999;
			opacity: 2;
			.banner-left-contents {
				padding-left: 20.5rem;
			}
			.banner-product-image {
				padding-right: 4rem;
				transform: translateX(-14.5rem);
				opacity: 0.5;
				z-index: 0;
				img {
					width: 450px;
					// min-width: 8rem;
				}
			}
		}
	}
}
