@import "./variables";
.main-newletter-area {
	background-color: #fafafa;
	width: 100%;
	margin-bottom: 80px;
	box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
	.main-new-letter-container {
		width: 85%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		height: 180px;
		.letf-container {
			display: flex;
			justify-content: flex-start;
			width: 45%;
			.signup {
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				margin-left: 20px;
				h2 {
					font-size: 16px;
					color: #000;
					font-weight: 500;
				}
				p {
					font-size: 14px;
					line-height: 1.7;
					font-weight: 400;
					color: #828282;
					margin-top: 8px;
				}
			}
		}
		.right-content {
			margin-left: 50px;
			width: 80%;
			display: flex;
			align-items: center;

			form {
				height: 50px;
				width: 80%;
				border: solid 1px #e5e5e5;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-radius: 8px;
				input {
					border: none;
					outline: none;
					flex: 1;
					height: 100%;
					font-size: 18px;
					color: $secondColor;
					padding-left: 20px;
					&::placeholder {
						color: rgb(0, 0, 0, 0.4);
					}
				}
				button {
					border: none;
					outline: none;
					height: 100%;
					width: 30%;
					background-color: darken($secondColor, 3);
					border-bottom-right-radius: 8px;
					border-top-right-radius: 8px;
					color: #fff;
					font-size: 18px;
					&:hover {
						background-color: lighten($secondColor, 10);
					}
				}
			}
			a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 10px;
				margin-left: 25px;
				color: $secondColor;
			}
		}
	}
}
