.main-features-area {
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;

	.main-features-content {
		width: 87%;
		margin: 0 auto;
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.features-left-container_2 {
			width: 25%;
			height: 100%;
			display: flex;
			flex-direction: column;
			position: relative;
			.first-container_2 {
				display: flex;
				h2 {
					top: 30px;
					left: 45px;
					position: absolute;
					font-size: 18px;
					color: #000;
				}
				.features-carousel-icons {
					position: absolute;
					top: 30px;
					right: 40px;
					display: flex;
					align-items: center;
					.icons {
						font-size: 25px;
						color: rgba(0, 0, 0, 0.7);
						padding: 0 10px;
						.right-icon {
							margin-right: 50px;
						}
					}
				}
			}
			.middle-container {
				position: absolute;
				top: 110px;
				right: 70px;
			}
			.last-container {
				top: 65%;
				position: absolute;
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				width: 100%;
				.line-one {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0px 45px;
					h3 {
						font-size: 14px;
						color: rgba(0, 0, 0, 0.5);
						font-weight: 400;
					}
					span {
						font-size: 16px;
						color: rgba(0, 0, 0, 0.5);
						font-weight: 400;
					}
				}
				.line-two {
					margin-top: 8px;
					margin-bottom: 25px;
					padding: 0 45px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					h3 {
						font-size: 24px;
						font-weight: 400;
						color: #000;
					}
					span {
						font-size: 24px;
						font-weight: 400;
						color: red;
					}
				}
				.line-three {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 45px;
					P {
						font-size: 12px;
						font-weight: 400;
						color: rgba(0, 0, 0, 0.5);
						span {
							font-weight: 600;
						}
					}
				}
				.progress {
					width: 330px;
					border-radius: 70px;
					margin: 5px auto;
					height: 10px;
					background: #e8e8e8;
					position: relative;
					&::before {
						position: absolute;
						width: 30%;
						border-radius: 10px;
						content: "";
						height: 100%;
						background: $secondColor;
					}
				}
			}
			.line-four {
				margin-top: 25px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 45px;
				.right-line-four {
					display: flex;
					flex-direction: column;
					h4 {
						font-size: 14px;
						font-weight: 500px;
						color: rgba(0, 0, 0, 0.7);
						text-transform: capitalize;
						margin-bottom: 5px;
					}
					p {
						font-size: 12px;
						color: rgba(0, 0, 0, 0.5);
					}
				}
				.left-line-four {
					display: flex;
					align-items: center;
					flex-direction: column;
					.remaining-hours {
						display: flex;
						align-items: center;
						border: 1px solid rgba(0, 0, 0, 0.2);
						border-radius: 6px;
						li {
							padding: 8px 20px;
							list-style: none;
							position: relative;
							span {
								font-size: 24px;
								font-weight: 500;
								color: #000000;
							}
							&:nth-child(2):before {
								position: absolute;
								content: "";
								width: 1px;
								border-radius: 2px;
								height: 25px;
								background: rgba(0, 0, 0, 0.2);
								top: 10px;
								right: 65px;
							}
							&:nth-child(2)::after {
								position: absolute;
								content: "";
								width: 1px;
								border-radius: 2px;
								height: 25px;
								background: rgba(0, 0, 0, 0.2);
								top: 10px;
								left: 65px;
							}
						}
					}
					.corresponding-time {
						display: flex;
						padding-top: 8px;
						li {
							list-style: none;
							padding: 0 15px;
							font-size: 8px;
							color: rgba(0, 0, 0, 0.7);
							text-transform: uppercase;
						}
					}
				}
			}
		}
		.features-right-container {
			width: 70%;
			margin-left: 4%;
			height: 100%;
			.features-nav-bar {
				width: 100%;
				margin-top: 50px;
				position: relative;
				ul {
					width: 100%;
					display: flex;
					line-height: 55px;
					li {
						list-style: none;
						padding: 0 20px;
						a {
							position: relative;
							display: inline-block;
							height: 100%;
							text-decoration: none;
							color: rgba(0, 0, 0, 0.8);
							cursor: pointer;
							font-size: 18px;
							font-weight: 500;
							white-space: nowrap;
							&:hover::before {
								position: absolute;
								content: "";
								width: 100%;
								height: 2px;
								background: $secondColor;
								bottom: 0;
							}
						}
					}
				}
				&::after {
					position: absolute;
					content: "";
					// width: 690px;
					left: 0;
					right: 0;
					height: 1px;
					background: rgba(0, 0, 0, 0.2);
				}
			}

			.features-container-item_2 {
				margin-top: 30px;
				width: 100%;
				.right-features-main-container_2 {
					width: 100%;
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					.single-item {
						width: 100%;
						transition: all 0.3 ease;
						position: relative;
						z-index: 999;
						height: 350px;
						.first-line {
							width: 100%;
							display: flex;
							justify-content: space-between;
							margin-top: 20px;
							transition: all 0.3s ease;
							z-index: 999;
							p {
								margin-left: 20px;
								z-index: 999;
								font-size: 13px;
								display: inline-block;
								border-radius: 50%;
								border: 1px solid #df3b3b;
								background-color: #df3b3b;
								outline: none;
								span {
									padding: 8px 5px;
									display: inline-block;
									color: #fff;
								}
							}
							.change-color {
								margin-left: 20px;
								z-index: 999;
								font-size: 13px;
								display: inline-block;
								border-radius: 50%;
								border: 1px solid $secondColor;
								background-color: $secondColor;
								outline: none;
								span {
									padding: 8px 5px;
									display: inline-block;
									color: #fff;
								}
							}
							.like-item {
								margin-right: 20px;
								z-index: 1;
								font-size: 14px;
								position: relative;
								border: 1px solid rgba(0, 0, 0, 0.2);
								padding: 8px 8px;
								border-radius: 50%;
								visibility: hidden;
								opacity: 0;
								box-shadow: 0 0 25px rgb(63 78 100 / 15%);
								outline: none;
								color: #ccc;
								&::before {
									content: "w";
									position: absolute;
									width: 100%;
									top: 0;
									background: yellow;
									height: 100%;
								}
							}
						}
						.img-wrapper {
							width: 100%;
							display: flex;
							justify-content: center;
							z-index: -1;
							transform: translateY(-20px);
							img {
								z-index: -1;
							}
						}
						.second-line {
							width: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							margin-top: 15px;
							p {
								font-size: 16px;
								padding: 0 10px;
								font-weight: 500;
								color: #df3b3b;
							}
							.special {
								color: rgba(0, 0, 0, 0.6);
								font-size: 12px;
								font-weight: 400;
							}
						}
						.mark {
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							margin-top: 12px;
							p {
								font-size: 14px;
								white-space: nowrap;
								font-weight: 500;
								cursor: pointer;
								&:hover {
									color: $secondColor;
								}
							}
						}
						.circles {
							width: 100%;
							margin-top: 20px;
							visibility: hidden;
							opacity: 0;
							.circles-container {
								width: 100%;
								display: flex;
								align-items: center;
								justify-content: center;
							}
							.cir {
								height: 25px;
								width: 25px;
								border-radius: 50%;
								background: blue;
							}
							.circle1 {
								margin-right: 10px;
								background-color: #b19c83;
							}
							.circle2 {
								margin-right: 10px;
								background-color: #000000;
							}
							.circle3 {
								background-color: #999999;
							}
						}
						.add-to-cart {
							width: 100%;
							margin-top: 20px;
							display: flex;
							align-items: center;
							justify-content: center;
							visibility: hidden;
							opacity: 0;
							position: absolute;
							bottom: 0;
							a {
								cursor: pointer;
								background-color: $secondColor;
								width: 100%;
								line-height: 48px;
								text-align: center;
								text-decoration: none;
								font-size: 18px;
								font-weight: 400;
								color: #fff;
								border-bottom-left-radius: 5px;
								border-bottom-right-radius: 5px;
								&:hover {
									background-color: darken($secondColor, 6);
								}
							}
						}
						&::after {
							position: absolute;
							content: "";
							width: 1px;
							height: 55%;
							top: 35px;
							left: 170px;
							background: rgba(0, 0, 0, 0.1);
							z-index: -1;
						}

						&:hover {
							border-radius: 5px;
							box-shadow: 0 0 25px rgb(63 78 100 / 15%);
							z-index: 999;
							.circles {
								visibility: visible;
								opacity: 1;
							}
							.add-to-cart {
								visibility: visible;
								opacity: 1;
							}
							.first-line {
								transform: translateY(-5px);
								z-index: 999;
								p {
									z-index: 999;
									transform: translateX(-10px);
								}
								.like-item {
									z-index: 999;
									transform: translateX(10px);
									z-index: 1;
									visibility: visible;
									opacity: 1;
								}
							}
							.img-wrapper {
								z-index: -1;
								img {
									z-index: -1;
								}
							}
							&::after {
								visibility: hidden;
								opacity: 0;
							}
						}
					}
				}
				.pagination {
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: center;
					margin-top: 20px;
					margin-bottom: 20px;
					li {
						list-style: none;
						padding: 8px 8px;
						border-radius: 30px;
						border: 1px solid #e8e8e8;
						background-color: #e8e8e8;
						&:nth-child(1) {
							margin-right: 20px;
						}
						&:hover {
							background-color: $secondColor;
						}
					}
					.active {
						background-color: $secondColor;
					}
				}
			}
		}
	}
	.imported-component {
		width: 100%;
		background-color: red;
		margin-top: -600px;
	}
}
